/Elevator.Domain.Entities/*.user
/Elevator.Domain.Entities/bin/Debug
/Elevator.Domain.Entities/bin/Release
/Elevator.Domain.Entities/obj/Debug
/Elevator.Domain.Entities/obj/Release
/Elevator.Domain.Interfaces/bin/Debug
/Elevator.Domain.Interfaces/bin/Release
/Elevator.Domain.Interfaces/obj/Debug
/Elevator.Domain.Interfaces/obj/Release
/Elevator.Infrastructure.Data/bin/Debug
/Elevator.Infrastructure.Data/bin/Release
/Elevator.Infrastructure.Data/obj/Debug
/Elevator.Infrastructure.Data/obj/Release
/Elevator.Infrastructure.DataMigrator/bin/Debug
/Elevator.Infrastructure.DataMigrator/obj/Debug
/Elevator.Infrastructure.DataMigrator/obj/Release
/Elevator.Infrastructure.DependencyResolution/bin/Debug
/Elevator.Infrastructure.DependencyResolution/bin/Release
/Elevator.Infrastructure.DependencyResolution/obj/Debug
/Elevator.Infrastructure.DependencyResolution/obj/Release
/Elevator.Infrastructure.Interfaces/bin/Debug
/Elevator.Infrastructure.Interfaces/bin/Release
/Elevator.Infrastructure.Interfaces/obj/Debug
/Elevator.Infrastructure.Interfaces/obj/Release
/Elevator.Infrastructure.Logging/bin/Release
/Elevator.Infrastructure.Logging/bin/Debug
/Elevator.Infrastructure.Logging/obj/Debug
/Elevator.Infrastructure.Logging/obj/Release
/Elevator.Service.Interfaces/bin/Debug
/Elevator.Service.Interfaces/obj/Debug
/Elevator.Service.Interfaces/obj/Release
/Elevator.Services.Implementations/bin/Debug
/Elevator.Service.Interfaces/bin/Release
/Elevator.Services.Implementations/bin/Release
/Elevator.Services.Implementations/obj/Debug
/Elevator.Services.Implementations/obj/Release
/Elevator.Test/bin/Debug
/Elevator.Test/obj/Release
/Elevator.Test/obj/Debug
/Elevator.Web/obj/Release
/Elevator.Web/bin
/Elevator/packages
/Elevator/.vs/Elevator/v14/*.suo
/Elevator/*.user
/Elevator/*.suo
/Elevator.Web/obj/Debug
